#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photograph-header h1{
    color: #D3573C;
    font-weight: 500;
    font-size: 3em;
    margin: 0;
}

.photograph-header p{
    display: flex;
    flex-direction: column;
    color: #901C1C;
    font-size: 2rem;
    margin: 0;
}

.photograph-header p > span{
    color: #525252;
    font-size: 1rem;
    margin-top: 1rem;
}

.photograph-header img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: gray 0px 2px 6px 0px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover, .contact_button:focus {
   background-color: #D3573C;
   color: black;
}

/*section media*/
.media-section{
    margin: 10px 100px;
}
.order{
    display: flex;
    align-items: baseline;
}
.order-by__container{
    position: relative;
}
.order > label{
    font-weight: 600;
    margin-right: 1.5em;
}
#order-by{
    height: 3em;
    border: none;
    font-family: "DM Sans", sans-serif;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#order-by > span{
    transform: rotateZ(90deg);
}
#order-by, #order-list{
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    color: white;
    background-color: #901C1C;
    width: 9em;
}
#order-list{
    position: absolute;
    top: 0;
    margin: 0;
    display: none;
    list-style: none;
    padding: 0;
}
#order-list li{
    height: 3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 0 20px;
}
#order-list li:nth-child(1){
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#order-list li:nth-child(1) > span{
    transform: rotateZ(-90deg);
}
#order-list li:hover{
    color: black;
    background-color: #D3573C;
}
.order-list__border::after{
    content: '';
    width: calc(100% - 20px);
    border-bottom: #FAFAFA solid 1px;
    position: absolute;
    top: 3em;
    left: 10px;
}

.media-container{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
    gap: 40px 80px;
}
.media{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.article-footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #901C1C;
    width: 250px;
}
.article-footer > h3{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
    margin: 0;
}


.price-photograph{
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 50px;
    font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.3em;
}
.price-photograph i{
    margin-left: 5px;
}

/* fin section media */

#contact_modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    overflow-y: scroll;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 5%;
    left: 25%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}